@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    
}

header{
    background-image: url(thor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

li{
    font-family: 'Marcellus SC', serif;
    font-size: 60px;
    float: right;
    color: white;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: violet;
}

article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 550px;
}

p{
    margin: 0;
}
