.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tableaurouge{
    color: red;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.table{
    border-collapse: collapse;
    border: 2px solid black;
}

.td, .tr{
    border-collapse: collapse;
    border: 2px solid black;
}