.container{
    width: 800px;
    height: 100px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;
}

.item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    width: 300px;
    height: 48px;
    /* border: 1px solid red; */
    /* border-radius: 2px; */
    /* background-color: aqua; */
    text-align: center;
}

.item-1{
    width: 100px;
    height: 48px;
    /* border: 1px solid;
    border-radius: 2px; */
    background-color: rgb(163, 123, 192);
}

.item-2{
    background-color: lightblue;
}

.item-3{
    background-color: red;
}

.item:hover{
    background-color: black;
}